@import "~antd/dist/antd.css";

.ant-menu-inline-collapsed > .ant-menu-item {
  padding: 0px !important;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* remove tooltip arrow */

.ant-menu-inline-collapsed-tooltip {
  display: none;
}

.ant-tooltip-placement-right > .ant-tooltip-content > .ant-tooltip-inner {
  color: white !important;
  background-color: none !important;
  opacity: 0 !important;
}

.ant-tooltip-placement-bottom .ant-tooltip-arrow,
.ant-tooltip-placement-bottomLeft .ant-tooltip-arrow,
.ant-tooltip-placement-bottomRight .ant-tooltip-arrow {
  border-bottom-color: none !important;
  opacity: 0 !important;
}

.ant-spin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.ant-layout {
  flex: none !important;
}

.ant-tooltip-arrow::after {
  content: none !important;
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border-right: none !important;
}

.mainContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.view {
  font-family: "Calibri";
  font-size: 20px;
  font-weight: bold;
  margin: 8px 24px;
  color: black !important;
  /* border-bottom: 1px solid black; */
  width: 90%;
  /* margin-bottom: 0px !important; */
}

.secondary {
  width: 1140px !important;
  height: 80vh !important;
}

.WarningChart {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.WarningIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.subnav li:first-child {
  margin-top: 0px !important;
}

/* .subnav ul > .ant-menu-submenu {
  padding-left: 36px !important;
} */

.ant-spin {
  flex-direction: column;
}

/* TABLE CSS */

.smallFont .ant-table {
  font-size: 12px;
}

.ant-table-filter-dropdown .ant-dropdown-menu-without-submenu {
  max-height: 360px;
}

.xhide .ant-table-body {
  overflow-x: hidden !important;
}

.yhide .ant-table-body {
  overflow-y: hidden !important;
}

#header {
  margin: 0px;
  font-weight: bold;
}

#subtext {
  font-size: 14px;
  margin: 0px;
}

/* move icons closer to column name */

.ant-table-filter-column-title {
  flex: initial !important;
  padding: 12px 0px 12px 8px !important;
}

.ant-table-filter-trigger-container {
  position: relative !important;
  top: unset !important;
  left: unset !important;
  right: unset !important;
  bottom: unset !important;
}

/* remove dropdown on transfer list header */
.ant-transfer-list-header-dropdown {
  display: none !important;
}

/* don't restyle on hover of filter */
.ant-table-filter-trigger-container {
  background: none !important;
}

/* fix search icon border */
.searchBorder {
  border: none !important;
}

.ant-table-filter-trigger {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100% !important;
}

/* fix margin issue between header title/tag and icon */
.ant-table-filter-column-title > .ant-tag {
  margin-right: 4px !important;
}

/* transfer icons center align > and < */
.ant-btn-icon-only.ant-btn-sm {
  font-size: 8px !important;
}

.ant-tree-node-content-wrapper.ant-tree-node-selected {
  background-color: transparent !important;
}

/* hide checkbox for left transfer */
.ant-transfer-list:first-of-type .ant-checkbox-wrapper {
  display: none !important;
}
/* .ant-table-filter-column > tr > th > div .anticon > svg {
  position: relative !important;
  top: unset !important;
  left: unset !important;
} */
/* .ant-table-thead > tr > th > .ant-table-header-column {
  margin-right: 12px !important;
} */

/* tree-transfer css */
.ant-tree {
  font-size: 13px !important;
}

.tree-transfer {
  font-size: 13px !important;
}

.tree-transfer .ant-transfer-list:first-child {
  width: 50%;
  flex: none;
}

.ant-transfer-list-content-item-text {
  font-size: 13px !important;
}

/* dropdown caret in transfer */
.ant-tree-switcher {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 10px !important;
}

/* center the search cancel icon */
.ant-transfer-list-search-action {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.ant-table-thead
  > tr
  > th.ant-table-column-has-actions.ant-table-column-has-filters:hover
  .anticon-filter:hover,
.ant-table-thead
  > tr
  > th.ant-table-column-has-actions.ant-table-column-has-filters:hover
  .ant-table-filter-icon:hover {
  background: none !important;
}

.ant-table-thead
  > tr
  > th.ant-table-column-has-actions.ant-table-column-has-filters
  .anticon-filter.ant-table-filter-open,
.ant-table-thead
  > tr
  > th.ant-table-column-has-actions.ant-table-column-has-filters
  .ant-table-filter-icon
  .ant-table-filter-open {
  background: none !important;
}

.ant-table-thead
  > tr
  > th.ant-table-column-has-actions.ant-table-column-has-filters
  .anticon-filter.ant-table-filter-open,
.ant-table-thead
  > tr
  > th.ant-table-column-has-actions.ant-table-column-has-filters
  .ant-table-filter-icon.ant-table-filter-open {
  background: none !important;
}

/* pagination position */
.ant-pagination.ant-table-pagination.mini {
  float: left !important;
  margin: 16px 4px !important;
}

/* keep pagigation fixed regardless of # of rows */
/* .ant-table-body {
  max-height: 400px;
} */

.tableButtonContainer {
  /* width: 100px; */
  height: 40px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.downloadbtn {
  position: absolute;
  top: 16px;
  left: 64px;
  z-index: 100;
}

#addremove > .anticon,
#download > .anticon,
#clear > .anticon,
.ant-pagination-item-link > .anticon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.ant-menu-item > .anticon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.ant-menu-item > span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.ant-menu-submenu-title > span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.ant-btn > i {
  display: inline-flex;
}

.test {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px !important;
}

.ant-menu-inline-collapsed > li:last-child {
  display: flex !important;
  align-items: flex-end !important;
  /* justify-content: flex-end !important; */
}

.ant-menu-inline-collapsed {
  height: 90vh !important;
}

.scale > .ant-slider {
  width: 100% !important;
}

.scale > p {
  font-size: 11px;
  margin: 4px;
}

/* for color-coding source */

/* .append {
  color: blue !important;
}

.survey {
  color: yellow !important;
} */

.ant-table-thead > tr > th {
  font-weight: 400;
}

.square {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: blue;
  width: 8px !important;
  height: 8px !important;
}

/* custom tag color */
/* undo css for institutional data in legend */
/* .legend-container > .ant-tag-institutionaldata {
  display: none;
} */

/* .customModal > .ant-tag-institutionaldata {
  display: none;
} */

/* .ant-tag-institutionaldata {
  background: none !important;
  border-color: transparent !important;
  padding-left: 0 !important;
  font-size: 12 !important;
  font-weight: 400 !important;
} */

.ant-tag-augmenteddata {
  color: #00594c;
  background: #e5eceb;
  border-color: #6d9890;
  font-weight: 400 !important;
}

.ant-tag-updateddata {
  color: #fc4c02;
  background: #ffeee5;
  border-color: #ff9b6d;
  font-weight: 400 !important;
}

.ant-tag-dataappendflags {
  color: #53565a;
  background: #ececec;
  border-color: #939598;
  font-weight: 400 !important;
}

.ant-tag-institutionaldata {
  color: #1f2a44;
  background: #e5e6ea;
  border-color: #72768a;
  font-weight: 400 !important;
}

/* resize font for dropdown menu */
.ant-dropdown-menu > li {
  font-size: 12px !important;
}
