@import "~antd/dist/antd.css";

.ant-menu-inline-collapsed > .ant-menu-item {
  padding: 0px !important;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-tooltip-inner {
  color: none !important;
  background-color: none !important;
  opacity: 0 !important;
}

.ant-tooltip-placement-bottom .ant-tooltip-arrow,
.ant-tooltip-placement-bottomLeft .ant-tooltip-arrow,
.ant-tooltip-placement-bottomRight .ant-tooltip-arrow {
  border-bottom-color: none !important;
  opacity: 0 !important;
}

.ant-spin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.ant-layout {
  flex: none !important;
}

.ant-tooltip-arrow::before {
  content: none !important;
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border-right: none !important;
}

.mainContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.view {
  font-family: "Calibri";
  font-size: 20px;
  font-weight: bold;
  margin: 9px 16px;
  color: black !important;
  /* border-bottom: 1px solid black; */
  width: 90%;
  /* margin-bottom: 0px !important; */
}

.secondary {
  width: 100%;
}

.subnav li:first-child {
  margin-top: 0px !important;
}

/* .subnav ul > .ant-menu-submenu {
  padding-left: 36px !important;
} */
